* {
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

form {
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f2f2f2;
}

div {
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

input:not([type="checkbox"]), select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  /*display: inline-block*/
  float: left;
  width: 25%;
  margin-top: 6px;
}

input:not([type="checkbox"]), select, textarea {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type=checkbox] {
  margin-top: 18px;
}

button[type=submit] {
  width: 100%;
  background-color: #777;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #555;
}

/* Clear floats after the columns */
.field:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  label {
    width: 50%;
    margin-top: 0;
  }
  input:not([type="checkbox"]), select, textarea {
    width: 100%;
    margin-top: 0;
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #eee;
} 